<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Weekend Flyer</title>

    
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <!--<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!--<link href="static/css/jumbotron_narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/accordion_demo.css">-->

    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="static/js/airport_list.js"></script>
    <script type="text/javascript" src="static/js/flight_list.js"></script>
    <script type="text/javascript" src="static/js/javascript_commons.js"></script>
    <meta name="google-signin-client_id" content="552278765316-h7q89rqnrpe9ro728nrk0d2hhe4lih1s.apps.googleusercontent.com">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_P9ZRzstNVrsKAxg5cttib");
       })();
    </script>-->


  </head>


  <body>


    <div class="container">

{% block navbar %}{% endblock %}



      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <a href="http://localhost:5000/users/settings">
                <button type="button" class="btn btn-primary btn-xlg">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
              </a>
          </ul>
        </nav>
        <h3 class="text-muted"><a style="text-decoration: none" href="{{ url_for('public.home') }}">Weekend Flyer</a></h3>
      </div>


          {% block content %}{% endblock %}
   


      <footer class="footer">
        <small>

  <ul class="company">
    <li> &copy; 2015 Weekend Flyer, Inc.</li>
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}">About    </a></li>
      <li><a href="mailto:flyer.weekend@gmail.com">Contact</a></li>
      <li><a class="fa fa-sign-out" href="{{ url_for('public.logout') }}">Sign Out</a></li>    
    </ul>
  </small>
      </footer>

    </div> <!-- /container -->

<!-- JavaScript at the bottom for fast page loading -->
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block js %}{% endblock %}
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<!-- end scripts -->

  </body>
</html>
