
{% extends "layout.html" %}
{% block content %}

      <div class="jumbotron">

            <script language="JavaScript">

                    var User = "current_user";
                    User = getCookie("current_user");
                    //console.log(User);
                    //if (User == "current_user") 
                    //  {window.location = "http://andrewgoldstein.github.io/login.html"}

                    var YouWrote;
                    YouWrote=getCookie("origin");
                    // TODO: ERROR HANDLING
                    if (YouWrote == "origin")
                      {YouWrote = "Nothing_Entered"}

                    var YouWrote1;
                    YouWrote1=getCookie("destination");
                    // TODO: ERROR HANDLING
                    if (YouWrote1 == "destination")
                      {YouWrote1 = "Nothing_Entered"}

            </script> 



            <h2 id="hello"></h2>
            <script>  document.getElementById("hello").innerHTML = "Select your flights to " + YouWrote1;  </script>


                          <div class="main">
                            <div class="accordion">

                              <div class="accordion-section">
                                <a id="fill-me2" class="accordion-section-title" href="#accordion-6"></a>
                                <div id="accordion-6" class="accordion-section-content">
                                <script>
                                  document.getElementById("fill-me2").innerHTML = YouWrote + " to " + YouWrote1;
                                  //emailjs.send("gmail","test_departure_arrival",{name: "Hello", notes: YouWrote + " to " + YouWrote1 });
                                </script>
                                <span id="fill-this"> </span>                                  
                                </div><!--end .accordion-section-content-->
                              </div><!--end .accordion-section-->

                                  <p line-height= ".3em"> </p>

                              <div class="accordion-section">
                                <a id="fill-me-in2" class="accordion-section-title" href="#accordion-7"></a>
                                <div id="accordion-7" class="accordion-section-content">
                                <script> document.getElementById("fill-me-in2").innerHTML = YouWrote1 + " to " + YouWrote; </script>
                                <span id="fill-this2"> </span>
                                </div><!--end .accordion-section-content-->
                              </div><!--end .accordion-section-->
                            </div><!--end .accordion-->
                          </div>
                           {% if current_user.card_number  %} 
                          <br><a id="heya2" class="btn btn-sm btn-success disabled" href = "{{ url_for('user.summary') }}" role="button">Let's do this!</a>
                          {% else %}
                          <br><a id="heya3" class="btn btn-sm btn-success diasbled" href = "{{ url_for('user.settings') }}" role="button">Let's do this!</a>
                          {% endif %}


          <script>

                  for (i = 0; i < airports.length; i++) {
                    if (airports[i].city == YouWrote) {var city = airports[i].abbv}
                  }

                  for (i = 0; i < airports.length; i++) {
                    if (airports[i].city == YouWrote1) {var city1 = airports[i].abbv}
                  }


                  function myFunction(a) {
                      document.getElementById("fill-me2").innerHTML = "(" +city +" to "+ city1+ ")     "  + input[a];
                      close_accordion_section();
                      defineCookie("input",input[a]);
                  }
                         
                  function myFunction1(a) {
                      document.getElementById("fill-me-in2").innerHTML = "(" +city1 +" to "+ city+ ")     "  + output[a];
                      close_accordion_section();
                      defineCookie("output",output[a]);
                      document.getElementById("heya2").className = "btn btn-sm btn-success";
                      document.getElementById("heya3").className = "btn btn-sm btn-success";
                      document.getElementById("heya2").innerHTML = "Book for just $100";
                      document.getElementById("heya3").innerHTML = "Book for just $100";
                  }

                  var input = [];
                  var output = [];

                  for (i = 0; i < flights.length; i++) {
                    if (flights[i].home == city && flights[i].dest == city1 && (flights[i].departureWeekday == "Friday" || flights[i].departureWeekday == "Saturday" )) {
                      if (flights[i].h0 >= 12) {var h0 = (flights[i].h0 - 12).toString() ; var m3 = "pm" ;}
                      else {var h0 = flights[i].h0.toString() ; var m3 = "am";}
                      if (flights[i].h1 >= 12) {var h1 = (flights[i].h1 - 12).toString() ; var m4 = "pm" ;}
                      else {var h1 = flights[i].h1.toString() ; var m4 = "am";}
                      if (flights[i].h1 <= flights[i].h0) {
                        if (flights[i].departureWeekday == "Friday") {
                        var redeye = " (Sat) ";
                        } 
                        else if (flights[i].departureWeekday == "Thursday") {
                        var redeye = " (Fri) ";
                        } 
                        else {var redeye = "";}
                      }
                      else {var redeye = "";}
                      if (h0 == 0) {h0 = '12'}
                      if (h1 == 0) {h1 = '12'}
                      input.push(flights[i].departureWeekday + " " + h0 + ":" + flights[i].m0 + m3 + " - " + redeye + h1 + ":" + flights[i].m1 + m4);
                    }
                    if (flights[i].home == city1 && flights[i].dest == city && (flights[i].departureWeekday == "Sunday" || flights[i].departureWeekday == "Monday" )) {
                      if (flights[i].h0 >= 12) {var h0 = (flights[i].h0 - 12).toString() ; var m3 = "pm" ;}
                      else {var h0 = flights[i].h0.toString() ; var m3 = "am";}
                      if (flights[i].h1 >= 12) {var h1 = (flights[i].h1 - 12).toString() ; var m4 = "pm" ;}
                      else {var h1 = flights[i].h1.toString() ; var m4 = "am";}
                      if (flights[i].h1 <= flights[i].h0) {
                        if (flights[i].departureWeekday == "Friday") {
                        var redeye = " (Sat) ";
                        } 
                        else if (flights[i].departureWeekday == "Thursday") {
                        var redeye = " (Fri) ";
                        } 
                        else {var redeye = "";}
                      }
                      else {var redeye = "";}
                      if (h0 == 0) {h0 = '12'}
                      if (h1 == 0) {h1 = '12'}
                      output.push(flights[i].departureWeekday + " " + h0 + ":" + flights[i].m0 + m3 + " - " + redeye + h1 + ":" + flights[i].m1 + m4);
                    }                             
                  };


                  for (var i = 0, l = input.length; i < l; ++i) {
                      document.getElementById('fill-this').innerHTML += '<span>'+ input[i] + '</span> <span class="btn-group"><a class="btn btn-xs btn-primary" onclick="myFunction('+i.toString()+')">\u2713</a></span><br />';
                  };

                  for (var i = 0, l = output.length; i < l; ++i) {
                      document.getElementById('fill-this2').innerHTML += '<span>'+ output[i] + '</span> <span class="btn-group"><a class="btn btn-primary btn-xl" onclick="myFunction1('+i.toString()+')">\u2713</a></span><br />';
                  };
              
          </script>  


      </div>


{% endblock %}