
{% extends "layout.html" %}
{% block content %}




<table class="table table-hover">
   
   <thead>
      <tr>
         <th></th>
         <th></th>
      </tr>
   </thead>
   
   <tbody>
      <tr>
         <td>Personal Info</td>
         <td>{{ current_user.full_name }} </td>
      </tr>
      
      <tr>
         <td>Credit Card Expiration</td>
         <td>{{ current_user.expiration }}</td>
      </tr>
      <tr>
         <td>Credit Card CVC</td>
         <td>{{ current_user.cvc }}</td>
      </tr>      
      <tr>
         <td>Credit Card Address</td>
         <td>{{ current_user.full_name}}</td>
      </tr>
      <tr>
         <td>Credit Card Number</td>
         <td>{{ current_user.card_number }}</td>
      </tr>
      
      <tr>
         <td>Credit Card Expiration</td>
         <td>{{ current_user.expiration }}</td>
      </tr>
      <tr>
         <td>Credit Card CVC</td>
         <td>{{ current_user.cvc }}</td>
      </tr>      
      <tr>
         <td>Credit Card Address</td>
         <td>{{ current_user.full_name}}</td>
      </tr>
     <tr>
         <td></td>
         <td>{{ current_user.address_line1 }}, {{ current_user.address_line2 }}</td>
      </tr> 
      <tr>
         <td></td>
         <td>{{ current_user.address_city }}, {{ current_user.address_state }}   {{ current_user.address_zip }}  </td>
      </tr>      

      <tr>
         <td>Date of Birth</td>
         <td>{{ current_user.date_of_birth }}</td>
      </tr>

   </tbody>
   
</table>

Confirm that this information is correct

    password        {{ current_user.password }} <br>
    card_number     {{ current_user.card_number }}  <br>
    expiration      {{ current_user.expiration }} <br>
    cvc             {{ current_user.cvc }}  <br>
    address_line1   {{ current_user.address_line1 }} <br>
    address_line2   {{ current_user.address_line2 }} <br>
    address_zip     {{ current_user.address_zip }} <br>
    address_city    {{ current_user.address_city }} <br>
    address_state   {{ current_user.address_state }} <br>
    address_country {{ current_user.address_country }} <br>


    
{% endblock %}

