
{% extends "layout.html" %}
{% block content %}


Confirm that this information is correct

    password        {{ current_user.password }} <br>
    first_name      {{ current_user.first_name }} <br>
    last_name       {{ current_user.last_name }}  <br>
    full_name       {{ current_user.full_name }} <br>
    card_number     {{ current_user.card_number }}  <br>
    expiration      {{ current_user.expiration }} <br>
    cvc             {{ current_user.cvc }} <br>
    address_line1   {{ current_user.address_line1 }} <br>
    address_line2   {{ current_user.address_line2 }} <br>
    address_zip     {{ current_user.address_zip }} <br>
    address_city    {{ current_user.address_city }} <br>
    address_state   {{ current_user.address_state }} <br>
    address_country {{ current_user.address_country }} <br>
    date_of_birth   {{ current_user.date_of_birth }} <br>
    phone           {{ current_user.phone }} <br>
    gender          {{ current_user.gender }} <br>

    
{% endblock %}

