
{% extends "layout.html" %}



{% block content %}
      <script type="text/javascript" src="static/js/creditcard.js"></script>

<div class="jumbotron">




        <h2>Add a payment option</h2>
        

<div class='card-wrapper'></div>

    <p line-height= ".5em"> </p>

	<center><form id="creditcardForm" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <input placeholder="Card number" class="form-group" name="number">
            </input>
            <!--<input placeholder="Full Name" class="form-group" name="first_name">
            </input>-->
            <input placeholder="MM/YY" class="form-group" name="expiry">
            </input>
            <input placeholder="CVC" class="form-group" name = "cvc">
            </input>
            <p><input class="btn btn-default btn-submit" type="submit" value="Submit"></p>
    </form></center>




<script>
var card = new Card({
    form: 'form',
    container: '.card-wrapper',

    formSelectors: {
        nameInput: 'input[name="first-name"], input[name="last-name"]'
    }
});
</script>


</div>

{% endblock %}

