
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
        <h2>What are you doing this weekend?</h2>
        <p class="lead">Take a new adventure, visit a friend, hop on a romantic getaway. Spontaneity has reached new heights. Search last minute flight deals for this coming weekend!</p>
        
        <center><div class="g-signin2" data-onsuccess="onSignIn2" href="users/jumbotron.html"></div></center>


   
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Non-Stop Flights</h4>
          <p>The Weekend Flyer doesn't have time for layovers and missed connections. Wheels up, Wheels down.</p>

          <h4>Roundtrip</h4>
          <p>It's good to go and it's good to come back. Our fares include both legs of your flight.</p>

          <h4>First Come, First Serve</h4>
          <p>There's a limited set of tickets available for any given flight. The boarding door may close at any time.</p>
        </div>

        <div class="col-lg-6">
          <h4>(Long) Weekend Travel Only</h4>
          <p>The Weekend Flyer is not a substitute for last minute weekday travel bookings, we're just giving the common man a shot at weekend greatness.</p>

          <h4>Limited Set of Airports</h4>
          <p>We're starting with flights to Seattle, New York, San Francisco, Boston, and Las Vegas. </p>

          <h4>Low Fare Guarantee</h4>
          <p>The price we offer you is the lowest price that this flight has ever been offered for by the airline. Promise.</p>
        </div>
      </div>   
{% endblock %}

