
{% extends "layout.html" %}



{% block navbar %}
{% include "nav.html" %}
{% endblock %}


{% block content %}
      <div class="jumbotron" style="opacity=0.90;">
        <h2>WHAT ARE YOU DOING THIS WEEKEND?</h2>
        <p class="lead">Take a new adventure, visit a friend, hop on a romantic getaway. Spontaneity has reached new heights. Search last minute flight deals for this coming weekend!</p>
        
        <!--<center><div class="g-signin2" data-onsuccess="onSignIn2" href="users/jumbotron.html"></div></center>-->


   
      </div>

      <div class="row marketing" style="color:white;">
        <div class="col-lg-6">
                  <h4>Non-Stop Flights Only</h4>
                  <p>The Weekend Flyer doesn't have time for layovers and missed connections. Wheels up, Wheels down.</p>

                  <h4>Roundtrip</h4>
                  <p>It's good to go and it's good to come back. Our fares include both legs of your journey.</p>

                  <h4>First Come, First Serve</h4>
                  <p>There's a limited set of tickets available for any given flight. The boarding door may close at any time.</p>
                  
        </div>
<h4>(Long) Weekend Travel Only</h4>
                  <p>The Weekend Flyer currently doesn't offer last minute weekday travel bookings, we're just giving the common man a shot at weekend greatness.</p>

                  <h4>Different Destinations Every Weekend</h4>
                  <p>We'll surprise you every week: just because you see a destination available this week doesn't mean it'll be available next weekend </p>

                  <h4>Low Fare Guarantee</h4>
                  <p>You won't find a lower roundtrip fare to your destination. Promise.</p>
          
        <div class="col-lg-6">
          

        </div>
      </div>   
{% endblock %}



